<launch>
	<arg name="main_camera_name" default="main"/>
	<arg name="main_camera_num" default="0"/>

	<group ns="$(arg main_camera_name)">

    <node name="lane_detection" pkg="lane_detection" type="lane_detection" args="$(arg main_camera_name)" output="screen" respawn="true">
      <param name="debug" value="0"/>
			<param name="web_cam" value="0"/>
			<param name="imshow" value="0"/>
			<param name="track_bar" value="1"/>
			<param name="timecheck" value="0"/>
			<param name="lable" value="0"/>
			<param name="gazebo" value="0"/>
			<param name="bird_eye_view" value="0"/>
			<param name="auto_shot" value="0"/>
			<param name="auto_record" value="0"/>
			<param name="for_gui" value="0"/>
			
			<param name="reset_msg" value="0"/>
			
			<param name="left_min_interval" value="90"/>
			<param name="left_max_interval" value="110"/>
			<param name="right_min_interval" value="95"/>
			<param name="right_max_interval" value="132"/>
			<param name="right_rotation_y_goal" value="-0.1"/>
			<param name="left_rotation_y_goal" value="0.1"/>
			<param name="default_x_goal" value="0.1"/>
			<param name="default_y_goal" value="0"/>		
			<param name="left_doubling" value="0.03"/>
			<param name="right_doubling" value="-0.03"/>

			<param name="record_name" value="/home/seuleee/Desktop/autorace_video_src/0720/stop/1/main_record.avi"/>
			<!--robotis-->
			<param name="y_hmin" value="10"/>
			<param name="y_hmax" value="40"/>
			<param name="y_smin" value="83"/>
			<param name="y_smax" value="132"/>
			<param name="y_vmin" value="9"/>
			<param name="y_vmax" value="255"/>
	
			<param name="w_hmin" value="63"/>
			<param name="w_hmax" value="179"/>
			<param name="w_smin" value="0"/>
			<param name="w_smax" value="117"/>
			<param name="w_vmin" value="202"/>
			<param name="w_vmax" value="255"/>

			<param name="r_hmin" value="113"/>
			<param name="r_hmax" value="179"/>
			<param name="r_smin" value="180"/>
			<param name="r_smax" value="255"/>
			<param name="r_vmin" value="122"/>
			<param name="r_vmax" value="255"/>
			<!-- 학겨 -->
			<!-- <param name="r_hmin" value="133"/>
			<param name="r_hmax" value="179"/>
			<param name="r_smin" value="31"/>
			<param name="r_smax" value="255"/>
			<param name="r_vmin" value="85"/>
			<param name="r_vmax" value="255"/> -->


			<param name="r2_hmin" value="113"/>
			<param name="r2_hmax" value="179"/>
			<param name="r2_smin" value="180"/>
			<param name="r2_smax" value="255"/>
			<param name="r2_vmin" value="100"/>
			<param name="r2_vmax" value="255"/>

			<param name="g_hmin" value="42"/>
			<param name="g_hmax" value="92"/>
			<param name="g_smin" value="124"/>
			<param name="g_smax" value="255"/>
			<param name="g_vmin" value="7"/>
			<param name="g_vmax" value="255"/>

			<param name="y2_hmin" value="10"/>
			<param name="y2_hmax" value="40"/>
			<param name="y2_smin" value="83"/>
			<param name="y2_smax" value="132"/>
			<param name="y2_vmin" value="9"/>
			<param name="y2_vmax" value="255"/>
    </node>

		<!--
		<node name="cal_distance" pkg="cal_distance" type="cal_distance" args="$(arg main_camera_name)" respawn="true" output="screen">
			<param name="debug" value="0"/>
			<param name="cal_path" value="/home/seuleee/catkin_ws/src/autorace2018_superburger/vision/cal_distance/data"/>
		</node>

		<node name="convert_cloud" pkg="convert_cloud" type="convert_cloud" args="$(arg main_camera_name)" respawn="true" output="screen">
			<param name="debug" value="0"/>
		</node>

		<include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch">
			<arg name="groupName" value="$(arg main_camera_name)"/>
		</include>
		-->

	</group>

</launch>
